<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>login</title>
</head>
<body>
<h1>Login</h1> <hr>
<img src="/bootstrap/img/info.jpeg" />

<form action="/login" method="POST">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  email : <input type="text" name="username"> <br>
  password : <input type="password" name="password"> <br>
  <button type="submit">Login</button>
</form> <br>

<div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null">
  <span th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></span>
</div>

<a href="/signup">Go to join! →</a>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>스프링 시큐리티 데모</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>스프링 시큐리티 데모</h1>-->
<!--<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">-->
<!--  Logged in user: <span sec:authentication="name"></span> | Roles: <span sec:authentication="principal.authorities"></span>-->
<!--  <div>-->
<!--    <form action="#" th:action="@{/logout}" method="post">-->
<!--      <input type="submit" value="Logout"/>-->
<!--    </form>-->
<!--  </div>-->
<!--  <li><a href="/user">User</a></li>-->
<!--</div>-->
<!--<div sec:authorize="!isAuthenticated()">-->
<!--  <li><a href="/login">로그인</a></li>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->